
*,
*::after,
*::before
{
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

body{
    box-sizing: border-box;
}

.clearfix::after
{
    content: '';
    display: table;
    clear: both;
}

.subtitle
{
    font-weight: bold;
}

#active
{
    background-color: blue;
}


html {
    font-family: 'Nunito', sans-serif;
}

/* Mobile view for 600px*/


.header {
    background-color: whitesmoke;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.logo {
    width: 125px;
    padding-left: 10%;
}

.headerButtonGroup {
    position: relative;
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.headerButton {
    padding: 10px 32px;
    background-color: blue;
    border: none;
    color: white;
    text-decoration: none;
    margin: 10px;
}

.headerButton:hover {
    background-color: white;
    text-decoration: none;
    color: blue;
}

.nav {
    overflow: hidden;
    list-style: none;
    text-decoration: none;
    background-color: rgb(58, 58, 58);
    display: flex;
    flex-direction: row;
}

.navButtons {
    color: white;
    background-color: inherit;
    border: none;
    padding: 15px;
    font-size: 12px;
}

.navButtons:hover{
    background-color: blue;
    color: white;
}

#dropButton {
    width: 125px;
    margin: 0;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropdown-content {
    display: none;
    background-color: rgb(58, 58, 58);
    font-family: inherit;
    font-size: 12px;
    z-index: 1;
    position: absolute;
    min-width: 125px;
}


.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a {
    float: none;
    color: white;
    text-decoration: none;
    padding: 10px 16px;
    display: block;
    text-align: center;
}

.dropdown-content a:hover {
    background-color: blue;
    color: white;

}


/*FOOTER*/
footer{
    background-color: white;
    text-align: center;
}
.social-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 10px;
}

.social-links a {
    padding: 10px;
}
.newsletter {
    background-color: whitesmoke;
    display: inline-block;
    padding: 20px;
    outline: solid 5px;
}

input[type=email] {
    border: none;
    border-bottom: 2px solid grey;
    width: 200px;
    height: 25px;
    background-color: whitesmoke;
    text-align: center;
}
.subscribe-button{
    background-color: blue;
    color: white;
    padding: 10px;
    text-decoration: none;
    margin-top: 10px;
}


@media screen and (max-width: 600px) {
    .header{
        display: block;
        text-align: center;
    }
    .headerButtonGroup {
        display: flex;
        justify-content: center;
    }
}